/* Carrossel */
.carrossel-container {
  position: relative;
  width: 100%;
  height: 650px;
  /* Altura do carrossel */
  overflow: hidden;
  margin-top: -100px;
  /* Faz com que o header sobreponha a parte superior da imagem */
}

.carrossel {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.carrossel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Absolute para todas as imagens estarem sobrepostas */
  opacity: 0;
  /* Imagens começam invisíveis */
  transition: opacity 1.5s ease;
  /* A transição de opacidade é feita em 1 segundo */
}

.carrossel-slide.active {
  opacity: 1;
  /* Quando a imagem é ativa, ela fica visível */
  pointer-events: auto;
  display: block !important;
}

.carrossel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; /* Impede que a imagem capture os cliques */
}

.carrossel-text {
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  width: 70%;
  max-width: 1000px;
  z-index: 2; /* Garante que o texto (e o botão) fiquem acima da imagem */
}

.carrossel-subtitle {
  color: #32CD32; /* Verde */
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0vh;
}

.carrossel-title {
  font-size: 11vh; /* Maior destaque para o título principal */
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0px;
}

.carrossel-description {
  font-size: 28px; /* Texto maior para melhor leitura */
  white-space: pre-line; /* Mantém a quebra de linha do \n */

}

/* Estilo para as setas de navegação */
button.prev,
button.next {
  position: absolute;
  top: 50%;
  /* Mantém as setas centralizadas verticalmente */
  transform: translateY(-50%);
  /* Ajusta o deslocamento para centralizar as setas */
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 20;
  /* Garante que as setas fiquem visíveis sobre a imagem */
}

button.prev {
  left: 10px;
  /* Posição da seta anterior à esquerda */
}

button.next {
  right: 10px;
  /* Posição da seta seguinte à direita */
}

/* Efeito hover nas setas */
button.prev:hover,
button.next:hover {
  background-color: none;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
.carrosel-button {
  background-color: #32CD32;
  border: 2px solid #28a745;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  position: relative;
  z-index: 9999;
  pointer-events: auto;
  margin-top: 20px;
}

.carrosel-button:hover {
  background-color: #66B3FF; /* Uma cor mais escura de verde para o hover */
}

@media screen and (max-width: 768px) {

  .carrossel-container{
    margin-bottom: 40px;
  }
  .carrossel-title{
    font-size: 7vh; /* Maior destaque para o título principal */
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .carrossel-subtitle {
    color: #32CD32; /* Verde */
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0vh;
  }

  .carrossel-description{
    font-size: 20px;
  }

  .carrosel-button {
    background-color: #32CD32;
    border: 2px solid #28a745;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 20px;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    position: relative;
    z-index: 9999;
    pointer-events: auto;
    margin-top: 20px;
  }

  }


